<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- reference external css -->
    <link rel="stylesheet" href="css/styles.css">
    <title>Midterm</title>
</head>

<body>
    <h1>Midterm: CDS Prediction Comparison</h1>
    <!-- generate summary table -->
    <table id="summary">
        <tr id="title">
            <th id="table-title" colspan="2">Summary</th>
        </tr>
        <tr>
            <td><i><b>Genbank Accession</b></i></td>
            <td><a href="https://www.ncbi.nlm.nih.gov/nuccore/{{ acc }}" target="_blank">{{ acc }}</a></td>
        </tr>
        {%- for field, value in summary %}
        <tr>
            <td><i><b>{{ field.replace("_", " ") }}</b></i></td>
            <td>{{ value }}</td>
        </tr>
        {%- endfor %}
        <tr>
            <td id="linkout"></td>
        </tr>
        <tr>
            <td id="linkout"><a href="{{ ref.file }}" target="_blank">{{ ref.name }} source</a></td>
            <td id="linkout"><a href="{{ pred.file }}" target="_blank">{{ pred.name }} source</a></td>
        </tr>
        <tr>
            <td id="linkout">
                <form method='post' action='./compare_gene_prediction.cgi'>
                    <input name="acc" type="search" placeholder="eg. AB011549.2" autofocus>
                    <br />
                    <input type="submit" value="Search">
                </form>
            </td>
        </tr>
    </table>

    <!-- generate results table -->
    <table id="results">
        <tr>
            <th id="table-title" colspan="7">Results</th>
        </tr>
        <tr>
            <th id="cds">CDS</th>
            <th>Reference Start</th>
            <th>Predicted Start</th>
            <th>Start Agreement</th>
            <th>Reference Stop</th>
            <th>Predicted Stop</th>
            <th>Stop Agreement</th>
        </tr>
        {%- for result in results %}
        <tr>
            <td id="cds-number"><b>{{ loop.index }}</b></td>
            <td>{{ result.ref_start }}</td>
            <td><i>{{ result.pred_start }}</i></td>
            <td id="{{ 'agrees' if result.start_agrees=='AGREES' else 'disagrees' }}">{{ result.start_agrees }}</td>
            <td>{{ result.ref_stop }}</td>
            <td><i>{{ result.pred_stop }}</i></td>
            <td id="{{ 'agrees' if result.stop_agrees=='AGREES' else 'disagrees' }}">{{ result.stop_agrees }}</td>
        </tr>
        {%- endfor %}
    </table>
</body>

</html>